.productListMainContainer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.productListContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.productListHeaderContainer{
  font-size: 40px;
}

.productListGoToCartBtn {
  margin-top: 15px;
}
