.cartItemContainer {
  border: 2px dashed green;
}

.cartItemCounter {
  display: flex;
  align-self: center;
  gap: 5px;
}

.cartItemCounterText {
  font-size: 15px;
}

.cartItemCounterButton {
  height: 20px;
  width: 30px;
  background-color: #f0f0f0;
}

.cartItemEndContainer {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
