.productItemContainer {
  width: 100%;
  display: flex;
  padding: 5px 10px;
  justify-content: space-between;
  border: 2px dashed burlywood;
}

.productItemInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.productItemButtonContainer {
  display: flex;
  align-items: center;
}
