:root {
  --color-navigation-button: rgb(33, 150, 243);
  --color-button-text: white;
  --color-button-add-cart: #ff9800;
  --color-button-remove-cart: #dc3545;
}

.itemContainer {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  padding: 5px 10px;
  justify-content: space-between;
  align-items: center;
}

.listMainContainer {
  box-sizing: border-box;
  width: 100%;
  padding: 0 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.listItemsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.itemInfoContainer {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 3px;
}

.backButton {
  margin: 20px 0 0 20px;
}

.listTotalPrice {
  margin-top: 20px;
}

.buttonStyle {
  height: 25px;
  border-radius: 10px;
  color: var(--color-button-text);
  font-weight: bold;

  &:hover {
    transform: translateY(-5px);
    transition: 1s;
  }
}

.goToNextPageBtn {
  height: 40px;
  min-width: 200px;
  margin-top: 20px;
  background-color: var(--color-navigation-button);
  font-size: 16px;
}

.backBtn {
  background-color: #34495e;
  font-weight: bold;
  margin: 20px 0 0 20px;
}

.addToCartBtn {
  background-color: var(--color-button-add-cart);
}

.removeFromCartBtn {
  background-color: var(--color-button-remove-cart);
}
